
/server-cs/SimpleMassiveRealtimeRankingServer/bin
/server-cs/SimpleMassiveRealtimeRankingServer/obj
/server-cs/SimpleMassiveRealtimeRankingServerTests/obj
/server-cs/TestResults
/server-cs/SimpleMassiveRealtimeRankingServerTests/bin
/client/php/CSharpUtils.dll
/client/php/smrr_integration_test.exe